@charset "UTF-8";


.textico {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 2px 0px;
  border-radius: 3px;
  font-size: 12px;
  width: 75px;
  text-align: center;
  white-space: nowrap;
}

.textico.i_oracle {
  background: #ED1A23;
}

.textico.i_mysql {
  background: #014967;
}

.textico.i_sqlserver {
  background: #C74541;
}

.textico.i_linux {
  background: #ED1A23;
}

.textico.i_windows {
  background: #014967;
}

.textico.i_aix {
  background: #C74541;
}

.textico.i_hp_unix {
  background: #ED1A23;
}

.textico.i_solaris {
  background: #ED1A23;
}